footer {
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
body {
    font-family: 'Baloo 2', sans-serif;
    color:aquamarine;
    background-color:darkcyan;
}
h1, h4, h5, h6 {
    font-family: 'Rubik Iso', cursive;
    color:aquamarine;
}
h2 {
    font-family: 'Grenze Gotisch', cursive;
}
h3 {
    font-family: 'Monoton', cursive;
}
img {
    max-width: 90%;
    max-height: 80vh;
    height:auto;
}
